.table__container {
  overflow-x: auto;

  .options {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid $lite;
    border-radius: 5px;
  }

  th {
    background: $primary;
    color: $white;
    padding: 8px 10px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    text-align: left;
    font-size: 1.3rem;
  }

  .up {
    background-image: url("../../assets/up_arrow.png");
  }

  .down {
    background-image: url("../../assets/down_arrow.png");
  }

  .default {
    background-image: url("../../assets/default.png");
  }

  .up,
  .default,
  .down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }

  td {
    border-top: 1px solid #ddd;
    padding: 8px 20px;
    font-size: 1.2rem;

    button {
      border: none;
      padding: 10px;
      border-radius: 4px;
      background-color: #ff1953;
      color: $white;
      cursor: pointer;
    }

    button:hover {
      outline: 1px solid black;
    }

    button:first-child {
      margin-right: 5px;
      background-color: #00b960;
    }
  }

  tbody tr:first-child td {
    border-top: none;
  }

  tbody tr:nth-child(n) td {
    background: #7d48b114;
  }

  tbody tr:nth-child(2n) td {
    background: #fff;
  }

  .done {
    text-decoration: line-through;
    color: gray;
  }
}